.cart-content {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
}
.cartsummary {
  width: 365px;

  padding: 20px 20px 65px 20px;
  border: 1px solid #ddd;
  box-shadow: none;
  background: #ffffff;
}
.cartsummary-header {
  font-size: 140%;
  color: #333333;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-top: 0;
}
.curtsummary td {
  padding: 0.5rem;
  color: #666666;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 18px;
}
.curtsummary tr:first-child td {
  border-top-color: transparent;
}
.curtsummary tr:last-child td {
  font-weight: 400;
  color: #33c24d;
}
.text-right {
  text-align: right;
}
.curtsummary {
  width: 100% !important;
}
.curtsummary-table-container {
  padding-bottom: 12px;
  border-bottom: 1px solid #b3b3b3;
  border-bottom-style: dashed;
}
.promo-code p {
  text-align: center;

  margin: 0;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.promo-code {
  cursor: not-allowed;
  padding: 16px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.cartsummary-header-name {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cart-content {
    flex-wrap: wrap;
  }
  .cartsummary {
    width: 325px;
  }
  .cartsummary-header {
    font-size: 116%;
  }
  .curtsummary td {
    font-size: 16px;
  }
  .promo-code {
    padding: 15px;
  }
}
