.slick-slide {
  padding: 0 7px;
}

.slick-slide img {
  width: 130px;
  display: inline !important;
}
.slide-card {
  transition: all 0.5s ease-out;
}
.slide-card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.slide-card:hover .btn {
  visibility: visible;
}
.slide-card:hover {
  display: inline-block;
}
.slide-inner-card {
  text-align: center;
  background-color: #ffffff;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
}

.content {
  background-color: #ffffff;
  margin: auto;
  padding: 60px 35px;
  margin-top: 25px;
  border-radius: 5px;
}
.card-title {
  font-weight: 400;
margin-bottom: 14px;
  font-size: 120%;
  color: #111;
  padding-top: 10px;
}
.book-author {
  color: #666666;
  margin-bottom: -5px;
  margin-top: 0;
  font-size: 105%;
}
.btn {
  visibility: hidden;
  text-align: center;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 5px;
  background: #37aaf7;
  color: #ffffffff;
  border-radius: 2px;

  cursor: pointer;
}
.btn:hover {
  background: #1d7ebf;
  transition: 0.5s ease-out;
}
.book-price {
  font-weight: 700;
  font-size: 110%;
  margin-bottom: 12px;
}
.main-price {
  margin-right: 8px;
  color: #666666;
}
.catagory {
  font-weight: 500;
  line-height: 1.2;
  font-size: 150%;
  color: #333333;
  margin-top: -32px;
  margin-bottom: 40px;
}
.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-view-button {
  margin-top: -32px;
  margin-bottom: 40px;

  cursor: pointer;

  background: none;
  color: #0397d3 !important;
  border: 1px solid #0397d3;
  font-size: 95%;
  border-radius: 2px 2px 2px 2px !important;
  box-shadow: 0px 3px 6px -4px #a2a2a2;
  padding: 8px 12px;
  transition: all 0.5s ease-out;
}
.slider-view-button:hover {
  background-color: #0397d3;
  color: white !important;
}

@media (max-width: 600px) {
  .content {
    margin: auto;
    padding: 45px 34px;
    margin-top: 25px;
  }
  .slider-view-button {
    margin-left: 4px;
    font-size: 80%;
  }
  .catagory {
    font-size: 100%;
  }
}
