.css-10bey84-MuiSvgIcon-root-MuiNativeSelect-icon {
    color: black !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    color: black !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {

    color: black !important;

}

.MuiTablePagination-menuItem {
    color: black !important;
}